In [1]:
import petpy
import pandas as pd
import numpy as np
import random
import os

In [17]:
petfinder=petpy.Petfinder(
    key='uiU3XvTvaGnfb5dGMBi1iYFkRSifjfWyfKvLrs47gPpjBcChlH', 
    secret='PI43Po3wZrV2RGLM6zF6iky8l8VrHv706qAXGPVq')

In [11]:
# get the list of adoped DOGS for each of the states in the PNW and NORTHEAST regions
# time period: Jan 1, 2022 - June 30, 2022

#pnw and northeast regions
states = ["WA", "OR", "ID", "CT", "ME", "MA", "NH", "NJ", "NY", "PA", "RI", "VT"]

for state in states:
    dogs_state=petfinder.animals(animal_type='dog',
                  status='adopted',
                  before_date='2022-06-30', 
                  after_date='2022-01-01',
                  location=state,
                  pages=None,
                  return_df=True)
    file_loc = "data/jan_june/dogs/"+state+"_jan2022.csv"
    print("file_loc, ", file_loc)
    dogs_state.to_csv(file_loc)

file_loc,  data/jan_june/dogs/MA_jan2022.csv
file_loc,  data/jan_june/dogs/NH_jan2022.csv
file_loc,  data/jan_june/dogs/NJ_jan2022.csv
file_loc,  data/jan_june/dogs/NY_jan2022.csv
file_loc,  data/jan_june/dogs/PA_jan2022.csv
file_loc,  data/jan_june/dogs/RI_jan2022.csv
file_loc,  data/jan_june/dogs/VT_jan2022.csv

In [18]:
# get the list of adoped DOGS for each of the states in the SOUTH CENTRAL region
# time period: Jan 1, 2022 - June 30, 2022

#south central states
sc_states = ["KY", "TN", "AL", "MS","AR", "LA", "OK", "TX"]

for state in sc_states:
    dogs_state=petfinder.animals(animal_type='dog',
                  status='adopted',
                  before_date='2022-06-30', 
                  after_date='2022-01-01',
                  location=state,
                  pages=None,
                  return_df=True)
    file_loc = "data/jan_june/dogs/"+state+"_jan2022.csv"
    print("file_loc, ", file_loc)
    dogs_state.to_csv(file_loc)

file_loc,  data/jan_june/dogs/MS_jan2022.csv
file_loc,  data/jan_june/dogs/AR_jan2022.csv
file_loc,  data/jan_june/dogs/LA_jan2022.csv
file_loc,  data/jan_june/dogs/OK_jan2022.csv
file_loc,  data/jan_june/dogs/TX_jan2022.csv

In [19]:
# get the list of adoped CATS for each of the states in the PNW and NORTHEAST regions
# time period: Jan 1, 2022 - June 30, 2022

#pnw and northeast regions
states = ["WA", "OR", "ID", "CT", "ME", "MA", "NH", "NJ", "NY", "PA", "RI", "VT"]

for state in states:
    cats_state=petfinder.animals(animal_type='cat',
                  status='adopted',
                  before_date='2022-06-30', 
                  after_date='2022-01-01',
                  location=state,
                  pages=None,
                  return_df=True)
    file_loc = "data/jan_june/cats/"+state+"_jan2022.csv"
    print("file_loc, ", file_loc)
    cats_state.to_csv(file_loc)

file_loc,  data/jan_june/cats/WA_jan2022.csv
file_loc,  data/jan_june/cats/OR_jan2022.csv
file_loc,  data/jan_june/cats/ID_jan2022.csv
file_loc,  data/jan_june/cats/CT_jan2022.csv
file_loc,  data/jan_june/cats/ME_jan2022.csv
file_loc,  data/jan_june/cats/MA_jan2022.csv
file_loc,  data/jan_june/cats/NH_jan2022.csv
file_loc,  data/jan_june/cats/NJ_jan2022.csv
file_loc,  data/jan_june/cats/NY_jan2022.csv
file_loc,  data/jan_june/cats/PA_jan2022.csv
file_loc,  data/jan_june/cats/RI_jan2022.csv
file_loc,  data/jan_june/cats/VT_jan2022.csv

In [20]:
# get the list of adoped CATS for each of the states in the SOUTH CENTRAL regions
# time period: Jan 1, 2022 - June 30, 2022

#south central states
states = ["KY", "TN", "AL", "MS","AR", "LA", "OK", "TX"]

for state in states:
    cats_state=petfinder.animals(animal_type='cat',
                  status='adopted',
                  before_date='2022-06-30', 
                  after_date='2022-01-01',
                  location=state,
                  pages=None,
                  return_df=True)
    file_loc = "data/jan_june/cats/"+state+"_jan2022.csv"
    print("file_loc, ", file_loc)
    cats_state.to_csv(file_loc)

file_loc,  data/jan_june/cats/KY_jan2022.csv
file_loc,  data/jan_june/cats/TN_jan2022.csv
file_loc,  data/jan_june/cats/AL_jan2022.csv
file_loc,  data/jan_june/cats/MS_jan2022.csv
file_loc,  data/jan_june/cats/AR_jan2022.csv
file_loc,  data/jan_june/cats/LA_jan2022.csv
file_loc,  data/jan_june/cats/OK_jan2022.csv
file_loc,  data/jan_june/cats/TX_jan2022.csv

In [27]:
# Combine all the DOG csvs for each individual state into one csv

# specify the directory path
dir_path = "data/jan_june/dogs"

# get a list of files in the directory
files = os.listdir(dir_path)

dogs_combined_df = pd.DataFrame()

# for each file in the directory, create a temporary dataframe and concat it to the dogs_combined_df
for file in files:
    print('file: ', file)
    file_loc = dir_path + "/" + file
    df = pd.read_csv(file_loc)
    dogs_combined_df = pd.concat([dogs_combined_df, df])

print(dogs_combined_df.shape)

# write the combined df to a csv file
dogs_combined_df.to_csv("data/combined/adopted_dogs_3regions_jantojune.csv")

file:  MS_jan2022.csv
file:  OK_jan2022.csv
file:  ME_jan2022.csv
file:  RI_jan2022.csv
file:  VT_jan2022.csv
file:  NH_jan2022.csv
file:  CT_jan2022.csv
file:  KY_jan2022.csv
file:  OR_jan2022.csv
file:  AL_jan2022.csv
file:  ID_jan2022.csv
file:  WA_jan2022.csv
file:  PA_jan2022.csv
file:  NJ_jan2022.csv
file:  MA_jan2022.csv
file:  NY_jan2022.csv
file:  LA_jan2022.csv
file:  AR_jan2022.csv
file:  TX_jan2022.csv
file:  TN_jan2022.csv
(80031, 51)

In [28]:
# Combine all the CAT csvs for each individual state into one csv

# specify the directory path
dir_path = "data/jan_june/cats"

# get a list of files in the directory
files = os.listdir(dir_path)

cats_combined_df = pd.DataFrame()

# for each file in the directory, create a temporary dataframe and concat it to the cats_combined_df
for file in files:
    print('file: ', file)
    file_loc = dir_path + "/" + file
    df = pd.read_csv(file_loc)
    cats_combined_df = pd.concat([cats_combined_df, df])

print(cats_combined_df.shape)

# write the combined df to a csv file
cats_combined_df.to_csv("data/combined/adopted_cats_3regions_jantojune.csv")

file:  MS_jan2022.csv
file:  OK_jan2022.csv
file:  ME_jan2022.csv
file:  RI_jan2022.csv
file:  VT_jan2022.csv
file:  NH_jan2022.csv
file:  CT_jan2022.csv
file:  KY_jan2022.csv
file:  OR_jan2022.csv
file:  AL_jan2022.csv
file:  ID_jan2022.csv
file:  WA_jan2022.csv
file:  PA_jan2022.csv
file:  NJ_jan2022.csv
file:  MA_jan2022.csv
file:  NY_jan2022.csv
file:  LA_jan2022.csv
file:  AR_jan2022.csv
file:  TX_jan2022.csv
file:  TN_jan2022.csv
(51500, 51)

In [29]:
dogs_3regs = pd.read_csv('data/combined/adopted_dogs_3regions_jantojune.csv')
cats_3regs = pd.read_csv("data/combined/adopted_cats_3regions_jantojune.csv")

/var/folders/js/_m5r698x29j4dvr0w18h6jdm0000gn/T/ipykernel_26484/3917059194.py:1: DtypeWarning: Columns (46) have mixed types. Specify dtype option on import or set low_memory=False.
  dogs_3regs = pd.read_csv('data/combined/adopted_dogs_3regions_jantojune.csv')
/var/folders/js/_m5r698x29j4dvr0w18h6jdm0000gn/T/ipykernel_26484/3917059194.py:2: DtypeWarning: Columns (46) have mixed types. Specify dtype option on import or set low_memory=False.
  cats_3regs = pd.read_csv("data/combined/adopted_cats_3regions_jantojune.csv")

In [30]:
print(dogs_3regs.columns)
print(dogs_3regs.head(4))

Index(['Unnamed: 0.1', 'Unnamed: 0', 'id', 'organization_id', 'url', 'type',
       'species', 'age', 'gender', 'size', 'coat', 'tags', 'name',
       'description', 'organization_animal_id', 'photos', 'videos', 'status',
       'status_changed_at', 'published_at', 'distance', 'breeds.primary',
       'breeds.secondary', 'breeds.mixed', 'breeds.unknown', 'colors.primary',
       'colors.secondary', 'colors.tertiary', 'attributes.spayed_neutered',
       'attributes.house_trained', 'attributes.declawed',
       'attributes.special_needs', 'attributes.shots_current',
       'environment.children', 'environment.dogs', 'environment.cats',
       'primary_photo_cropped.small', 'primary_photo_cropped.medium',
       'primary_photo_cropped.large', 'primary_photo_cropped.full',
       'contact.email', 'contact.phone', 'contact.address.address1',
       'contact.address.address2', 'contact.address.city',
       'contact.address.state', 'contact.address.postcode',
       'contact.address.country', 'animal_id', 'animal_type',
       'organization_id.1', 'primary_photo_cropped'],
      dtype='object')
   Unnamed: 0.1  Unnamed: 0        id organization_id  \
0             0           0  56122508           MS186
1             1           1  56100297           MS186
2             2           2  56100083           MS186
3             3           3  56099966           MS186

                                                 url type species    age  \
0  https://www.petfinder.com/dog/faith-56122508/m...  Dog     Dog  Adult
1  https://www.petfinder.com/dog/maude-56100297/m...  Dog     Dog  Adult
2  https://www.petfinder.com/dog/sheldon-56100083...  Dog     Dog   Baby
3  https://www.petfinder.com/dog/farrah-56099966/...  Dog     Dog  Young

   gender    size  ... contact.address.address1 contact.address.address2  \
0  Female   Large  ...           1507 Reid Road                      NaN
1  Female   Large  ...           1507 Reid Road                      NaN
2    Male  Medium  ...           1507 Reid Road                      NaN
3  Female   Large  ...           1507 Reid Road                      NaN

  contact.address.city contact.address.state contact.address.postcode  \
0           Monticello                    MS                    39654
1           Monticello                    MS                    39654
2           Monticello                    MS                    39654
3           Monticello                    MS                    39654

  contact.address.country animal_id animal_type organization_id.1  \
0                      US  56122508         dog             ms186
1                      US  56100297         dog             ms186
2                      US  56100083         dog             ms186
3                      US  56099966         dog             ms186

  primary_photo_cropped
0                   NaN
1                   NaN
2                   NaN
3                   NaN

[4 rows x 52 columns]

In [31]:
print(dogs_3regs.shape)
print(cats_3regs.shape)

(80031, 52)
(51500, 52)

In [32]:
dogs_3regs.drop_duplicates(subset=['id'], inplace=True)
cats_3regs.drop_duplicates(subset=['id'], inplace=True)

In [33]:
print("dogs_3regs_shape", dogs_3regs.shape)
print("cats_3regs_shape", cats_3regs.shape)

dogs_3regs_shape (51156, 52)
cats_3regs_shape (32781, 52)

In [34]:
df_3regs = pd.concat([dogs_3regs, cats_3regs])

In [35]:
print(df_3regs.shape)

(83937, 52)

In [36]:
df_3regs['published_at']=pd.to_datetime(df_3regs['published_at'])
df_3regs['status_changed_at']=pd.to_datetime(df_3regs['status_changed_at'])

In [37]:
df_3regs['days_in_shelter']=df_3regs['status_changed_at']-df_3regs['published_at']
df_3regs['days_in_shelter']=df_3regs['days_in_shelter']/np.timedelta64(1,'D')
df_3regs['days_in_shelter']=df_3regs['days_in_shelter'].round()

In [38]:
df_3regs.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'id', 'organization_id', 'url', 'type',
       'species', 'age', 'gender', 'size', 'coat', 'tags', 'name',
       'description', 'organization_animal_id', 'photos', 'videos', 'status',
       'status_changed_at', 'published_at', 'distance', 'breeds.primary',
       'breeds.secondary', 'breeds.mixed', 'breeds.unknown', 'colors.primary',
       'colors.secondary', 'colors.tertiary', 'attributes.spayed_neutered',
       'attributes.house_trained', 'attributes.declawed',
       'attributes.special_needs', 'attributes.shots_current',
       'environment.children', 'environment.dogs', 'environment.cats',
       'primary_photo_cropped.small', 'primary_photo_cropped.medium',
       'primary_photo_cropped.large', 'primary_photo_cropped.full',
       'contact.email', 'contact.phone', 'contact.address.address1',
       'contact.address.address2', 'contact.address.city',
       'contact.address.state', 'contact.address.postcode',
       'contact.address.country', 'animal_id', 'animal_type',
       'organization_id.1', 'primary_photo_cropped', 'days_in_shelter'],
      dtype='object')

In [39]:
df_3regs['breed'] = ''
# Extract primary and secondary breed from 'breeds' column
for i, row in df_3regs.iterrows():
    primary_breed = row['breeds.primary']
    secondary_breed = row['breeds.secondary']
    mixed = row['breeds.mixed']
    unknown_breed = row['breeds.unknown']
    
    if mixed:
        df_3regs.at[i, 'breed'] = 'Mixed'
    elif pd.notna(primary_breed):
        df_3regs.at[i, 'breed'] = primary_breed
    elif pd.notna(unknown_breed):
        df_3regs.at[i, 'breed'] = unknown_breed
    elif pd.notna(secondary_breed):
        df_3regs.at[i, 'breed'] = secondary_breed
    else:
        df_3regs.at[i, 'breed'] = 'Unknown'

In [40]:
df_3regs.shape

(83937, 54)

In [41]:
# Select relevant columns
df_3regs = df_3regs[['id', 'type', 'species', 'age', 'gender', 'size', 'coat', 'tags', 'name', 'description', 'status', 
         'published_at', 'status_changed_at', 'days_in_shelter', 'breed',
         'colors.primary', 'attributes.spayed_neutered', 'attributes.house_trained', 'attributes.special_needs', 
         'attributes.shots_current', 'environment.dogs', 'contact.address.city',
       'contact.address.state', 'contact.address.postcode',
       'contact.address.country']]

In [42]:
df_3regs.to_csv('data/combined/adopted_dogsANDcats_3regs_jantojune.csv', index=False)

# saved to google drive

In [43]:
jan_june = pd.read_csv("data/combined/adopted_dogsANDcats_3regs_jantojune.csv")
jul_dec = pd.read_csv("data/combined/adopted_dogsANDcats_3regs_jultodec.csv")

/var/folders/js/_m5r698x29j4dvr0w18h6jdm0000gn/T/ipykernel_26484/2792891823.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  jan_june = pd.read_csv("data/combined/adopted_dogsANDcats_3regs_jantojune.csv")
/var/folders/js/_m5r698x29j4dvr0w18h6jdm0000gn/T/ipykernel_26484/2792891823.py:2: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  jul_dec = pd.read_csv("data/combined/adopted_dogsANDcats_3regs_jultodec.csv")

In [44]:
print(jan_june.shape)
print(jul_dec.shape)

(83937, 25)
(101932, 25)

In [45]:
full_year = pd.concat([jan_june, jul_dec])
print(full_year.shape)

(185869, 25)

In [46]:
full_year.to_csv('data/combined/adopted_dogsANDcats_3regs_jantodec.csv', index=False)
# saved to google drive