In [2]:
import petpy
import pandas as pd
import numpy as np
import random
import os

In [18]:
petfinder=petpy.Petfinder(
    key='uTe0odJUWZhi3Lv0pyLteRLLJVv9Qv65GTH6zJDEBoEAlmd7kt', 
    secret='HGN1qte2FpD8TgaL9WtuZF9WDuPUq129RVxUYDR7')

In [11]:
# get the list of adoped DOGS for each of the states in the REMAINING regions (NOT the PNW,SOUTH CENTRAL, or NORTHEAST regions)
# time period: Jan 1, 2022 - June 30, 2022

# issues with nevada and hawaii

#remaining regions
# states = ['AK', 'AZ', 'CA', 'CO', 'DE', 'FL', 'GA', 'IA', 'IL', 'IN','KS', 'MD', 'MI', 'MN', 'MO', 'MT', 'NE', 'ND', 'OH', 'SC', 'SD', 'UT', 'VA', 'WI', 'WV', 'WY']


for state in states:
    dogs_state=petfinder.animals(animal_type='dog',
                  status='adopted',
                  before_date='2022-06-30', 
                  after_date='2022-01-01',
                  location=state,
                  pages=None,
                  return_df=True)
    file_loc = "data/other_regs/jan_june/dogs/"+state+"_jan2022.csv"
    print("file_loc, ", file_loc)
    dogs_state.to_csv(file_loc)

file_loc,  data/other_regs/jan_june/dogs/ND_jan2022.csv
file_loc,  data/other_regs/jan_june/dogs/OH_jan2022.csv
file_loc,  data/other_regs/jan_june/dogs/SC_jan2022.csv
file_loc,  data/other_regs/jan_june/dogs/SD_jan2022.csv
file_loc,  data/other_regs/jan_june/dogs/UT_jan2022.csv
file_loc,  data/other_regs/jan_june/dogs/VA_jan2022.csv
file_loc,  data/other_regs/jan_june/dogs/WI_jan2022.csv
file_loc,  data/other_regs/jan_june/dogs/WV_jan2022.csv
file_loc,  data/other_regs/jan_june/dogs/WY_jan2022.csv

In [15]:
# get the list of adoped DOGS for each of the states in the REMAINING regions (NOT the PNW,SOUTH CENTRAL, or NORTHEAST regions)
# time period: July 1, 2022 - December 31, 2022

# issues with nevada and hawaii

#remaining regions
#states = ['AK', 'AZ', 'CA', 'CO', 'DE', 'FL', 'GA', 'IA', 'IL', 'IN','KS', 'MD', 'MI', 'MN', 'MO', 'MT', 'NE', 'ND', 'OH', 'SC', 'SD', 'UT', 'VA', 'WI', 'WV', 'WY']

states = ['GA', 'IA', 'IL', 'IN','KS', 'MD', 'MI', 'MN', 'MO', 'MT', 'NE', 'ND', 'OH', 'SC', 'SD', 'UT', 'VA', 'WI', 'WV', 'WY']

for state in states:
    dogs_state=petfinder.animals(animal_type='dog',
                  status='adopted',
                  before_date='2022-12-31', 
                  after_date='2022-07-01',
                  location=state,
                  pages=None,
                  return_df=True)
    file_loc = "data/other_regs/jul_dec/dogs/"+state+"_july2022.csv"
    print("file_loc, ", file_loc)
    dogs_state.to_csv(file_loc)

file_loc,  data/other_regs/jul_dec/dogs/GA_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/IA_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/IL_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/IN_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/KS_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/MD_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/MI_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/MN_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/MO_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/MT_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/NE_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/ND_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/OH_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/SC_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/SD_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/UT_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/VA_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/WI_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/WV_july2022.csv
file_loc,  data/other_regs/jul_dec/dogs/WY_july2022.csv

In [12]:
# get the list of adoped CATS for each of the states in the PNW and NORTHEAST regions
# time period: Jan 1, 2022 - June 30, 2022

#pnw and northeast regions
states = ['AK', 'AZ', 'CA', 'CO', 'DE', 'FL', 'GA', 'IA', 'IL', 'IN','KS', 'MD', 'MI', 'MN', 'MO', 'MT', 'NE', 'ND', 'OH', 'SC', 'SD', 'UT', 'VA', 'WI', 'WV', 'WY']

for state in states:
    cats_state=petfinder.animals(animal_type='cat',
                  status='adopted',
                  before_date='2022-06-30', 
                  after_date='2022-01-01',
                  location=state,
                  pages=None,
                  return_df=True)
    file_loc = "data/other_regs/jan_june/cats/"+state+"_jan2022.csv"
    print("file_loc, ", file_loc)
    cats_state.to_csv(file_loc)

file_loc,  data/other_regs/jan_june/cats/AK_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/AZ_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/CA_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/CO_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/DE_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/FL_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/GA_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/IA_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/IL_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/IN_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/KS_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/MD_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/MI_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/MN_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/MO_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/MT_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/NE_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/ND_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/OH_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/SC_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/SD_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/UT_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/VA_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/WI_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/WV_jan2022.csv
file_loc,  data/other_regs/jan_june/cats/WY_jan2022.csv

In [19]:
# get the list of adoped CATS for each of the states in the PNW and NORTHEAST regions
# time period: July 1, 2022 - December 31, 2022

#pnw and northeast regions
#states = ['AK', 'AZ', 'CA', 'CO', 'DE', 'FL', 'GA', 'IA', 'IL', 'IN','KS', 'MD', 'MI', 'MN', 'MO', 'MT', 'NE', 'ND', 'OH', 'SC', 'SD', 'UT', 'VA', 'WI', 'WV', 'WY']

states = ['SC', 'SD', 'UT', 'VA', 'WI', 'WV', 'WY']

for state in states:
    cats_state=petfinder.animals(animal_type='cat',
                  status='adopted',
                  before_date='2022-12-31', 
                  after_date='2022-07-01',
                  location=state,
                  pages=None,
                  return_df=True)
    file_loc = "data/other_regs/jul_dec/cats/"+state+"_july2022.csv"
    print("file_loc, ", file_loc)
    cats_state.to_csv(file_loc)

file_loc,  data/other_regs/jul_dec/cats/SC_july2022.csv
file_loc,  data/other_regs/jul_dec/cats/SD_july2022.csv
file_loc,  data/other_regs/jul_dec/cats/UT_july2022.csv
file_loc,  data/other_regs/jul_dec/cats/VA_july2022.csv
file_loc,  data/other_regs/jul_dec/cats/WI_july2022.csv
file_loc,  data/other_regs/jul_dec/cats/WV_july2022.csv
file_loc,  data/other_regs/jul_dec/cats/WY_july2022.csv

In [22]:
# Combine all the DOG csvs for each individual state into one csv

# specify the directory path
dir_path = "data/other_regs/jan_june/dogs"

# get a list of files in the directory
files = os.listdir(dir_path)

dogs_combined_df = pd.DataFrame()

# for each file in the directory, create a temporary dataframe and concat it to the dogs_combined_df
for file in files:
    print('file: ', file)
    file_loc = dir_path + "/" + file
    df = pd.read_csv(file_loc)
    dogs_combined_df = pd.concat([dogs_combined_df, df])

print(dogs_combined_df.shape)

# specify the directory path
dir_path_2 = "data/other_regs/jul_dec/dogs"

# get a list of files in the directory
files = os.listdir(dir_path_2)

# for each file in the directory, create a temporary dataframe and concat it to the dogs_combined_df
for file in files:
    print('file: ', file)
    file_loc = dir_path_2 + "/" + file
    df = pd.read_csv(file_loc)
    dogs_combined_df = pd.concat([dogs_combined_df, df])

print(dogs_combined_df.shape)

# write the combined df to a csv file
dogs_combined_df.to_csv("data/combined/otherRegions_jantodec_adopted_dogs.csv")

file:  IN_jan2022.csv
file:  KS_jan2022.csv
file:  CA_jan2022.csv
file:  MI_jan2022.csv
file:  VA_jan2022.csv
file:  AZ_jan2022.csv
file:  IA_jan2022.csv
file:  FL_jan2022.csv
file:  SC_jan2022.csv
file:  ND_jan2022.csv
file:  OH_jan2022.csv
file:  MO_jan2022.csv
file:  SD_jan2022.csv
file:  WY_jan2022.csv
file:  DE_jan2022.csv
file:  AK_jan2022.csv
file:  MD_jan2022.csv
file:  WI_jan2022.csv
file:  MN_jan2022.csv
file:  WV_jan2022.csv
file:  IL_jan2022.csv
file:  CO_jan2022.csv
file:  NE_jan2022.csv
file:  GA_jan2022.csv
file:  UT_jan2022.csv
file:  MT_jan2022.csv
(54812, 51)
file:  FL_july2022.csv
file:  MD_july2022.csv
file:  NE_july2022.csv
file:  CO_july2022.csv
file:  AK_july2022.csv
file:  ND_july2022.csv
file:  KS_july2022.csv
file:  MO_july2022.csv
file:  DE_july2022.csv
file:  MI_july2022.csv
file:  MN_july2022.csv
file:  IN_july2022.csv
file:  WY_july2022.csv
file:  MT_july2022.csv
file:  VA_july2022.csv
file:  SD_july2022.csv
file:  OH_july2022.csv
file:  SC_july2022.csv
file:  GA_july2022.csv
file:  AZ_july2022.csv
file:  CA_july2022.csv
file:  IL_july2022.csv
file:  UT_july2022.csv
file:  WV_july2022.csv
file:  IA_july2022.csv
file:  WI_july2022.csv
(117507, 51)

In [24]:
# Combine all the CAT csvs for each individual state into one csv

# specify the directory path
dir_path = "data/other_regs/jan_june/cats"

# get a list of files in the directory
files = os.listdir(dir_path)

cats_combined_df = pd.DataFrame()

# for each file in the directory, create a temporary dataframe and concat it to the cats_combined_df
for file in files:
    print('file: ', file)
    file_loc = dir_path + "/" + file
    df = pd.read_csv(file_loc)
    cats_combined_df = pd.concat([cats_combined_df, df])

print(cats_combined_df.shape)


# specify the directory path
dir_path_2 = "data/other_regs/jul_dec/cats"

# get a list of files in the directory
files = os.listdir(dir_path_2)

# for each file in the directory, create a temporary dataframe and concat it to the cats_combined_df
for file in files:
    #print('file: ', file)
    file_loc = dir_path_2 + "/" + file
    df = pd.read_csv(file_loc)
    cats_combined_df = pd.concat([cats_combined_df, df])

print(cats_combined_df.shape)

# write the combined df to a csv file
cats_combined_df.to_csv("data/combined/otherRegs_jantodec_adopted_cats.csv")

file:  IN_jan2022.csv
file:  KS_jan2022.csv
file:  CA_jan2022.csv
file:  MI_jan2022.csv
file:  VA_jan2022.csv
file:  AZ_jan2022.csv
file:  IA_jan2022.csv
file:  FL_jan2022.csv
file:  SC_jan2022.csv
file:  ND_jan2022.csv
file:  OH_jan2022.csv
file:  MO_jan2022.csv
file:  SD_jan2022.csv
file:  WY_jan2022.csv
file:  DE_jan2022.csv
file:  AK_jan2022.csv
file:  MD_jan2022.csv
file:  WI_jan2022.csv
file:  MN_jan2022.csv
file:  WV_jan2022.csv
file:  IL_jan2022.csv
file:  CO_jan2022.csv
file:  NE_jan2022.csv
file:  GA_jan2022.csv
file:  UT_jan2022.csv
file:  MT_jan2022.csv
(39527, 51)
(102163, 51)

In [26]:
dogs_3regs = pd.read_csv('data/combined/otherRegions_jantodec_adopted_dogs.csv')
cats_3regs = pd.read_csv("data/combined/otherRegs_jantodec_adopted_cats.csv")

In [30]:
print(dogs_3regs.columns)
print(dogs_3regs.head(4))

Index(['Unnamed: 0.1', 'Unnamed: 0', 'id', 'organization_id', 'url', 'type',
       'species', 'age', 'gender', 'size', 'coat', 'tags', 'name',
       'description', 'organization_animal_id', 'photos', 'videos', 'status',
       'status_changed_at', 'published_at', 'distance', 'breeds.primary',
       'breeds.secondary', 'breeds.mixed', 'breeds.unknown', 'colors.primary',
       'colors.secondary', 'colors.tertiary', 'attributes.spayed_neutered',
       'attributes.house_trained', 'attributes.declawed',
       'attributes.special_needs', 'attributes.shots_current',
       'environment.children', 'environment.dogs', 'environment.cats',
       'primary_photo_cropped.small', 'primary_photo_cropped.medium',
       'primary_photo_cropped.large', 'primary_photo_cropped.full',
       'contact.email', 'contact.phone', 'contact.address.address1',
       'contact.address.address2', 'contact.address.city',
       'contact.address.state', 'contact.address.postcode',
       'contact.address.country', 'animal_id', 'animal_type',
       'organization_id.1', 'primary_photo_cropped'],
      dtype='object')
   Unnamed: 0.1  Unnamed: 0        id organization_id  \
0             0           0  56122508           MS186
1             1           1  56100297           MS186
2             2           2  56100083           MS186
3             3           3  56099966           MS186

                                                 url type species    age  \
0  https://www.petfinder.com/dog/faith-56122508/m...  Dog     Dog  Adult
1  https://www.petfinder.com/dog/maude-56100297/m...  Dog     Dog  Adult
2  https://www.petfinder.com/dog/sheldon-56100083...  Dog     Dog   Baby
3  https://www.petfinder.com/dog/farrah-56099966/...  Dog     Dog  Young

   gender    size  ... contact.address.address1 contact.address.address2  \
0  Female   Large  ...           1507 Reid Road                      NaN
1  Female   Large  ...           1507 Reid Road                      NaN
2    Male  Medium  ...           1507 Reid Road                      NaN
3  Female   Large  ...           1507 Reid Road                      NaN

  contact.address.city contact.address.state contact.address.postcode  \
0           Monticello                    MS                    39654
1           Monticello                    MS                    39654
2           Monticello                    MS                    39654
3           Monticello                    MS                    39654

  contact.address.country animal_id animal_type organization_id.1  \
0                      US  56122508         dog             ms186
1                      US  56100297         dog             ms186
2                      US  56100083         dog             ms186
3                      US  56099966         dog             ms186

  primary_photo_cropped
0                   NaN
1                   NaN
2                   NaN
3                   NaN

[4 rows x 52 columns]

In [27]:
print(dogs_3regs.shape)
print(cats_3regs.shape)

(117507, 52)
(102163, 52)

In [28]:
dogs_3regs.drop_duplicates(subset=['id'], inplace=True)
cats_3regs.drop_duplicates(subset=['id'], inplace=True)

In [29]:
print("dogs_3regs_shape", dogs_3regs.shape)
print("cats_3regs_shape", cats_3regs.shape)

dogs_3regs_shape (99652, 52)
cats_3regs_shape (87313, 52)

In [30]:
df_3regs = pd.concat([dogs_3regs, cats_3regs])

In [31]:
print(df_3regs.shape)

(186965, 52)

In [32]:
df_3regs['published_at']=pd.to_datetime(df_3regs['published_at'])
df_3regs['status_changed_at']=pd.to_datetime(df_3regs['status_changed_at'])

In [33]:
df_3regs['days_in_shelter']=df_3regs['status_changed_at']-df_3regs['published_at']
df_3regs['days_in_shelter']=df_3regs['days_in_shelter']/np.timedelta64(1,'D')
df_3regs['days_in_shelter']=df_3regs['days_in_shelter'].round()

In [34]:
df_3regs.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'id', 'organization_id', 'url', 'type',
       'species', 'age', 'gender', 'size', 'coat', 'tags', 'name',
       'description', 'organization_animal_id', 'photos', 'videos', 'status',
       'status_changed_at', 'published_at', 'distance', 'breeds.primary',
       'breeds.secondary', 'breeds.mixed', 'breeds.unknown', 'colors.primary',
       'colors.secondary', 'colors.tertiary', 'attributes.spayed_neutered',
       'attributes.house_trained', 'attributes.declawed',
       'attributes.special_needs', 'attributes.shots_current',
       'environment.children', 'environment.dogs', 'environment.cats',
       'primary_photo_cropped.small', 'primary_photo_cropped.medium',
       'primary_photo_cropped.large', 'primary_photo_cropped.full',
       'contact.email', 'contact.phone', 'contact.address.address1',
       'contact.address.address2', 'contact.address.city',
       'contact.address.state', 'contact.address.postcode',
       'contact.address.country', 'animal_id', 'animal_type',
       'organization_id.1', 'primary_photo_cropped', 'days_in_shelter'],
      dtype='object')

In [35]:
df_3regs['breed'] = ''
# Extract primary and secondary breed from 'breeds' column
for i, row in df_3regs.iterrows():
    primary_breed = row['breeds.primary']
    secondary_breed = row['breeds.secondary']
    mixed = row['breeds.mixed']
    unknown_breed = row['breeds.unknown']
    
    if mixed:
        df_3regs.at[i, 'breed'] = 'Mixed'
    elif pd.notna(primary_breed):
        df_3regs.at[i, 'breed'] = primary_breed
    elif pd.notna(unknown_breed):
        df_3regs.at[i, 'breed'] = unknown_breed
    elif pd.notna(secondary_breed):
        df_3regs.at[i, 'breed'] = secondary_breed
    else:
        df_3regs.at[i, 'breed'] = 'Unknown'

In [36]:
df_3regs.shape

(186965, 54)

In [37]:
# Select relevant columns
df_3regs = df_3regs[['id', 'type', 'species', 'age', 'gender', 'size', 'coat', 'tags', 'name', 'description', 'status', 
         'published_at', 'status_changed_at', 'days_in_shelter', 'breed',
         'colors.primary', 'attributes.spayed_neutered', 'attributes.house_trained', 'attributes.special_needs', 
         'attributes.shots_current', 'environment.dogs', 'contact.address.city',
       'contact.address.state', 'contact.address.postcode',
       'contact.address.country']]

In [39]:
df_3regs.to_csv('data/combined/OtherRegions_jantodec_adopted_dogsANDcats.csv', index=False)

# saved to google drive

In [40]:
df_3regions = pd.read_csv("data/combined/jantodec_3regs_adopted_dogsANDcats.csv")
df_other = pd.read_csv("data/combined/OtherRegions_jantodec_adopted_dogsANDcats.csv")

/var/folders/js/_m5r698x29j4dvr0w18h6jdm0000gn/T/ipykernel_31419/2447631148.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df_3regions = pd.read_csv("data/combined/jantodec_3regs_adopted_dogsANDcats.csv")

In [41]:
print(df_3regions.shape)
print(df_other.shape)

(185869, 25)
(186965, 25)

In [42]:
us_minusNVHI = pd.concat([df_3regions, df_other])
print(us_minusNVHI.shape)

(372834, 25)

In [43]:
us_minusNVHI.to_csv('data/combined/us_minusNVHI_jantodec_adopted_dogsANDcats.csv', index=False)
# saved to google drive